.topnav-bg{
  background-image: url('../Asset/head-top-band1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  background-color: #F0F2F3;
  
}

@media (max-width: 650.98px) { 
  .topnav-text{
    display: none;
  }
 }



 